footer {
    border-top: 1px solid white; 
    padding: 0.5em;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
            a {
                width: 80px;
                display: block;
                img {
                    max-width: 100%;
                }
            }
            &:last-of-type {
                a img {
                    width: 40px;
                }
            }
        }
    }
}