<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="header-wrapper">
 <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <header>
                    {% include nav.html %}
                </header>
            </div>
        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <main>
                   {{content}}
                </main>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <footer>
                   {% include footer.html %}
                </footer>
            </div>
        </div>
    </div>
    {% include scripts.html %}
</body>
</html>